<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>What's the weahter?</title>
</head>
<body background="background.jpg">
<style type="text/css">
    a {

    }
    .input-city{

    }
    .submit-city{

    }
    .btn{

    }
</style>
<div>
    <h1>What's the weahter?</h1>
    <form>
        <input class="input-city" name="city_query" placeholder="please input city" />
        <input class="btn btn-query"type="submit" value="query" />
        <a class="btn btn-history" href="">history</a>
        <a class="btn btn-helo" href="">help</a>
    </form>

    {{ query_result }}
</div>
</body>
</html>
